<div class="card text-center mb-3">
<div class="card-body">
  <h5 class="card-title font-weight-bold">THP Dev Fullstack Junior</h5>
  <div class="card-text text-left">
  <p>Nothing would have been possible without him :</p>
      <ul>
          <li>Jawaad : Fullstack  dev </li>
         
      </ul>
</div>
</div>
</div>
